.sun-arc {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,166,0,0.2) 100%);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

.sun {
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  animation: sunMove 10s infinite alternate ease-in-out;
}

@keyframes sunMove {
  0% { transform: translateX(-50%) translateY(0); }
  100% { transform: translateX(-50%) translateY(-80px); }
}